{% extends 'index.html' %}
{% load static %}

{% block styles %}
<link href="{% static 'css/about.css' %}" rel="stylesheet" type="text/css" media="screen"/>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/about.js' %}"></script>
{% endblock %}

{% block header %}<h1 class="page-title">О себе</h1>{% endblock%}

{% block content %}
<div class="about-container">
	<p>Анна Исупова – член Союза дизайнеров России, член Совета Гильдии дизайнеров Кировской области при Вятской торгово-промышленной палате, руководитель дизайн-студии @design_A_studia.</p>
	<p>“А-студиа” – студия дизайна интерьера, изготовление корпусной мебели по индивидуальным заказам.</p>
	<p>Работает в разных стилевых решениях, предпочитает скандинавский минимализм, эко-фьюжн, ар-деко.</p>
	<p>Специализируется  на создании жилых пространств.</p>
	<p>При этом, за 17 лет в портфолио достаточно и общественных интерьеров (салоны красоты, стоматологические и косметологические центры, частные детские сады, офисы, магазины и салоны). Один из последних видных общественных проектов – Engineer Bar</p>
	<div class="quote-block">
		<p>Мои интересы в мире дизайна выходят далеко за рамки интерьеров: декор, прикладное творчество, хенд-мейд, создание арт-объектов для благотворительных аукционов, проведение мастер-классов, дизайн-событий</p>
	</div>
	<header><h2>События</h2></header>

	<div class="event-year-title"><h3>2010</h3>
		<p>2010 – участие в выставке-конкурсе “Сфера дизайна” (Киров) | победа в номинации «Ванная»</p>
	</div>
	<div class="event-year-title"><h3>2014</h3>
		<p>2014 – участие в выставке-конкурсе “Сфера дизайна” (Киров) | победа в номинации “Загородный дом”</p>
	</div>
	<div class="event-year-title"><h3>2015</h3>
		<p>2015 – участие в выставке-конкурсе “Сфера дизайна” (Киров) | победа в номинациях “Квартира от 80 кв.м.”, “Кухня”, “Ванная/санузел”</p>
	</div>
	<div class="event-year-title"><h3>2017</h3>
		<p>2017 – участие в выставке-конкурсе “Сфера дизайна” (Киров) | победа в номинации “Детская”</p>
	</div>
	<div class="event-year-title"><h3>2018</h3>
		<div>
		<p>2018 – участие в выставке-конкурсе “Сфера дизайна” (Киров) | победа в номинациях “Детская” и “Спальня”, спец – приз от программы «Квартирный вопрос» на НТВ – сертификат на возможность участия</p>
		<p>2018 – участие в программе “Квартирный вопрос” на НТВ с проектом “Детская с бассейном и русалками”</p>
		</div>
	</div>
	<div class="event-year-title"><h3>2019</h3>
		<div>
		<p>2019 – участие в выставке-конкурсе “Сфера дизайна” (Киров), “Гран-при» конкурса” и победа в номинации “Общественное помещение за проект The Engineer Bar и в номинации “Детская”</p>
		<p>2019 – участие в программе “Квартирный вопрос” на НТВ с проектом “АГРОКУХНЯ”.</p>
		</div>
	</div>
	<div class="event-year-title"><h3>2020</h3>
		<p>2020 – участие в выставке-конкурсе “Сфера дизайна” (Киров), победа в номинациях “«Лучший декоратор интерьера» (декор/дизайн интерьера без перепланировки) по совокупности всех выставленных проектов, «Детская» и «Спальня».</p>
	</div>

</div>
{% endblock %}