{% extends 'index.html' %}
{% load static %}

{% block styles %}
<link href="{% static 'css/contacts.css' %}" rel="stylesheet" type="text/css" media="screen"/>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block header %}<h1 class="page-title">Как нас найти?</h1>{% endblock%}

{% block content %}

	<iframe class="yandex-map" src="https://yandex.ru/map-widget/v1/?um=constructor%3A73bd64344e689e791d25646273194614f82d770be9796c8ff1fe4e1098263923&amp;source=constructor" frameborder="0"></iframe>

	{% include 'contacts-block.html' %}

{% endblock %}