
	<div class="contacts-container">

		<ul class="links">
			<li class="instagram-link">
				<a href="https://instagram.com/design_a_studia">
					<svg class="icon instagram-icon"><use xlink:href="#logo-instagram"></use></svg>
					<span>design_A_studia</span>
				</a>
			</li>
			<li class="mail-link">
				<a href="mailto:anya-is@yandex.ru"><svg class="icon"><use xlink:href="#logo-mail"></use></svg>
					<span>anya-is@yandex.ru</span>
				</a>
			</li>
			<li class="phone-link">
				<a href="tel:+79127199030"><svg class="icon"><use xlink:href="#logo-iphone"></use></svg>
					<span>+7-912-719-9030</span>
				</a>
			</li>
		</ul>
		<p class="address">Киров, ул.Ленина, 87</p>

	</div>